@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box; }

.header {
  height: 20vh;
  background: linear-gradient(225deg, #091428 0%, #0a1428 100%);
  border-bottom: 0.2rem solid #a77b2f; }
  .header__logo {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 8rem;
    padding: 4rem;
    color: #cccbc7; }
    .header__logo-main {
      color: #a77b2f;
      letter-spacing: 0.2rem; }

.search {
  background-color: #005091;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 15vh;
  color: #010a13; }
  .search__input {
    padding: 1rem 3rem;
    border: none;
    background-color: #eeeeee; }
  .search__button {
    background-color: #eeeeee;
    margin-left: -2px;
    padding: 1rem;
    border: none; }
    .search__button:hover {
      cursor: pointer; }
  .search__annotation {
    color: #cccbc7;
    margin: 0.2rem; }

.summoner {
  background-color: #cccbc7;
  color: #010a13;
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  position: relative; }
  .summoner__header {
    position: absolute;
    font-size: 2.5rem;
    color: #5b5a56; }
  .summoner-data {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .summoner-data__icon {
      background-repeat: no-repeat;
      background-size: contain;
      height: 12rem;
      width: 12rem; }
    .summoner-data__name {
      font-size: 2rem; }
    .summoner-data__level {
      font-size: 1.5rem; }
    .summoner-data-rank {
      display: flex;
      flex-direction: column;
      align-items: center; }
  .summoner-data-ranking {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5rem; }
    .summoner-data-ranking__emblem {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 14rem;
      width: 14rem; }
    .summoner-data-ranking__type {
      font-size: 2rem;
      font-weight: normal; }
    .summoner-data-ranking__tier {
      font-size: 1.5rem;
      font-weight: bold; }
    .summoner-data-ranking__lp {
      font-size: 1.4rem; }
  .summoner-rank {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.2rem; }

footer {
  background-color: #a5a39c;
  width: 100vw;
  height: 5vh;
  position: relative; }
  footer p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.15rem;
    color: #010a13;
    font-size: 1.4rem;
    font-family: "Bebas Neue", cursive; }
