@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box; }

.header {
  background: linear-gradient(225deg, #091428 0%, #0a1428 100%);
  border-bottom: 0.2rem solid #a77b2f; }
  .header__logo {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 8rem;
    padding: 4rem;
    color: #cccbc7; }
    .header__logo-main {
      color: #a77b2f;
      letter-spacing: 0.2rem; }

.search {
  background-color: #005091;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10vh;
  color: #010a13; }
  .search__input {
    padding: 1rem 3rem;
    border: none;
    background-color: #eeeeee; }
  .search__button {
    background-color: #eeeeee;
    margin-left: -2px;
    padding: 1rem;
    border: none; }
    .search__button:hover {
      cursor: pointer; }
  .search__annotation {
    color: #cccbc7;
    margin: 0.2rem; }

.summoner {
  background-color: #cccbc7;
  color: #010a13;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem; }
  .summoner-data {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .summoner-data__icon {
      background-repeat: no-repeat;
      background-size: contain;
      border: 0.1rem solid #010a13;
      height: 8rem;
      width: 8rem; }
