// FONTS
$font1: "Bebas Neue", cursive; // logo??
$font2: "Lato", sans-serif; // for most things
// COLORS
$color-gold: #a77b2f;
$color-blue: #005a82;
$color-blue-light: #0397ab;
$color-blue-dark: #091428;
$color-gray: #a5a39c;
$color-gray-light: #cccbc7;
$color-gray-dark: #5b5a56;
$color-black: #010a13;
$color-white: #eeeeee;
