// FONTS
$font1: "Bebas Neue", cursive; // logo??
$font2: "Lato", sans-serif; // for most things
// COLORS
$color-purple: #5d2dac;
$color-blue: #005cd5;
$color-blue-light: #1c89e2;
$color-gray: #bebebe;
$color-gray-dark: #4b4b4b;
$color-black: #0e0e0e;
$color-white: #eeeeee;
