.header {
  background: linear-gradient(
    225deg,
    rgba(9, 20, 40, 1) 0%,
    rgba(10, 20, 40, 1) 100%
  );

  &__logo {
    text-align: center;
    font-family: $font1;
    font-size: 8rem;
    padding: 6rem;
    color: $color-gray-light;

    &-main {
      color: $color-gold;
      letter-spacing: 0.1rem;
    }
  }
}
