.summoner {
  background-color: $color-gray-light;
  color: $color-black;
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  position: relative;

  &__header {
    position: absolute;
    font-size: 2.5rem;
    color: $color-gray-dark;
  }

  &-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      background-repeat: no-repeat;
      background-size: contain;
      height: 12rem;
      width: 12rem;
    }

    &__name {
      font-size: 2rem;
    }

    &__level {
      font-size: 1.5rem;
    }
  }

  &-data-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__emblem {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 14rem;
      width: 14rem;
    }

    &__type {
      font-size: 1.3rem;
      font-weight: normal;
    }

    &__tier {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &-rank {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.2rem;
  }
}
